.App {
  text-align: center;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Inside App.css */
.app-container {
  display: flex;
  height: 100vh;
}

.template-sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f0f0f0;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.large-input {
  width: 100%; /* Set the width to 100% or adjust as needed */
  height: 100px; /* Set the height to your desired value */
}

.black-text {
  color: black !important;
}

.download-hidden {
  display: none;
}

